<%= form_with(model: [:admin, word], local: true) do |form| %>
  <% if word.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(word.errors.count, "error") %> prohibited this word from being saved:</h2>

      <ul>
      <% word.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <%= form.label :word %>
    <%= form.text_field :word, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :meaning %>
    <%= form.text_field :meaning, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :ipa %>
    <%= form.text_field :ipa, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :word_class %>
    <select id="word_word_class" name="word[word_class]" class="form-control">
      <% 4.times do |i| %>
      <option value="<%= i+1 %>" <%= "selected" if word.word_class == i + 1 %>><%= Word.word_class_name(i + 1) %></option>
      <% end %>
    </select>
  </div>

  <div class="form-group">
      <%= form.label :category_ids %>
      <%= select "word", "category_ids", @categories, { include_blank: false }, { class: "form-control", :multiple => true, size: 7 } %>
    </div>

  <div class="form-group">
    <%= form.label :image %>
    <%= form.file_field :image,class: "form-control" %>
  </div> 

  <div class="form-group">
    <%= form.submit yield(:button_text),  class: "btn btn-outline-primary mt-3 mb-3" %>
  </div> 

<% end %> 
