<%= provide(:title, "Learn words about ") %>
<div class="container-fluid">
  <div class="row d-flex justity-content-center mt-5">
    <div class="col-6">
      <%= link_to "New Word", new_admin_word_path, class: "btn btn-success mt-3 mb-3" %>
    </div>
    <div class="col-6">
    <form class="form-inline align-items-center mb-3" id="searchAndFilterForm" method="GET">
    <input type="text" name="page" value="1" hidden>
        <div class="form-row align-items-center">
          <div class="col-auto">
            <label class="my-1 mr-2 d-inline" for="search_key">Search</label>
            <input type="text" class="form-control mr-3 d-inline" id="search_key" name="search_key" value="<%= @search_key %>" placeholder="For example: juxtaposition">
          </div>
          <div class="col-auto">
            <label class="my-1 mr-2 d-inline" for="order">Order</label>
            <select class="custom-select mr-3 d-inline" id="order" name="order">
              <option value="id_az" <%= "selected" if(@order == "id_az") %>>ID A-Z</option>
              <option value="id_za" <%= "selected" if(@order == "id_za") %>>ID Z-A</option>
              <option value="word_az" <%= "selected" if(@order == "word_az") %>>Word A-Z</option>
              <option value="word_za" <%= "selected" if(@order == "word_za") %>>Word Z-A</option>
            </select>
          </div>
          <div class="col-auto">
            <button id="search" class="btn btn-primary mb-2">Submit</button>
          </div>
        </div>
      </form>
    </div>
    <div class="col-12">
    <div class="table responsive">
        <table class="table">
            <thead>
                <th>ID</th>
                <th>Word</th>
                <th>IPA</th>
                <th>Class</th>
                <th>Meaning</th>
                <th>Categories</th>
                <th>Image</th>
                <th>Action</th>
            <thead>
            <tbody>
                <% @words.each do |word| %>
                  <tr>
                    <td><%= word.id %></td>
                    <td><%= word.word %></td>
                    <td>/<%= word.ipa %>/</td>
                    <td><%= Word.word_class_name(word.word_class) %></td>
                    <td><%= word.meaning %></td>
                    <td>
                      <% word.categories.each do |c| %>
                          <%= c.name + ", " %>
                      <% end %>
                    </td>
                    <td>
                      <% if word.image.attached? %>
                      <%= image_tag word.image.variant(resize: "100x100"), class: "card-img-top img-thumbnail" %>
                      <% end %>
                    </td>
                    <td>
                      <%= link_to "Edit", edit_admin_word_path(word), :class => "btn btn-outline-info mb-3" %>
                      <%= link_to "Show", admin_word_path(word),:class => "btn btn-outline-warning mb-3"%>
                      <%= link_to "Destroy", admin_word_path(word), method: :delete, data: { confirm: 'Are you sure?' },:class => "btn btn-outline-danger mb-3" %>
                    <td> 
                  </tr>               
                <% end %>      
            </tbody>
        </table>
    </div>
    <div class="mt-5"> <%= will_paginate @words %></div>
    </div>

</div>