<%= form_with(model: answer,url:admin_answer_path, local: true, class: "form") do |form| %>
  <% if answer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(answer.errors.count, "error") %> prohibited this answer from being saved:</h2>

      <ul>
      <% answer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
      <%= form.label :question_id %>
      <%= form.text_field :question_id, class:'form-control' %>
  </div>
  <div class="form-group">
      <%= form.label :answer_content %>
      <%= form.text_area :answer_content, class:'form-control' %>
  </div>
  <div class="form-group">   
      <%= form.check_box :right_answer %>
      <%= form.label :right_answer %>
   </div>
  <div class="form-group">
    <%= form.submit yield(:button_text), class: "btn btn-outline-primary" %>
  </div>
<% end %>
