<div id="<%= "word_#{word.id}" %>" class="card border-left-0 border-right-0">
<span class="text-info"><%= word.word %> <i class="text-muted">(<%= Word.word_class_name(word.word_class) %>)</i></span> 
<span class="text-muted">/<%= word.ipa %>/</span> 
 | <%= word.meaning %>
</div>