<%= provide(:title, "My learnt words") %>
<div class="container">
  <div class="row d-flex justity-content-center mt-5">
    <div class="col-md-8">
      <div class="card border-bottom-primary mb-3">
        <div class="card-header bg-transparent border-primary"><h2 class="h2">Words List</h2></div>
        <div class="card-body">
          <div class="row">
            <% @words.each do |word| %>
              <div class="col-12">
                <div class="card mt-1">
                  <div class="card-body">
                    <div class="row d-flex">
                      <div class="col-sm-6">
                        <h5 class="card-title text-info d-inline"><%= word.word %></h5>
                        <p class="text-muted d-inline">(<%= Word.word_class_name(word.word_class) %>)</p>
                        <p class="text-muted">/<%= word.ipa %>/</p>                         
                        <p><%= word.meaning %></p>
                      </div>
                      <div class="col-sm-6">
                        <% if word.image.attached? %>
                          <%= image_tag word.image.variant(resize: "500x500"), class: "card-img-top img-thumbnail" %>
                        <% end %>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
          </div>
        </div>   
      <div class="mt-5"><%= will_paginate @words %></div>
    </div>
    <div class="col-md-4">
      <div class="card border-bottom-success mb-3">
        <div class="card-header bg-transparent border-success"><h2 class="h2">Filter & Search</h2></div>
        <div class="card-body">
            <form class="form" id="searchAndFilterForm" method="GET">
                <input type="text" name="page" value="1" hidden>
                <div class="form-group">
                    <label class="" for="search_key">Search</label>
                    <input type="text" class="form-control" id="search_key" name="search_key" value="<%= @search_key %>" placeholder="For example: juxtaposition">
                </div>
                <div class="form-group">
                    <label class="my-1 mr-2" for="category_id">Category</label>
                    <select class="custom-select" id="category_id" name="category_id">
                        <option value>All</option>
                        <% @categories.each do |category| %>
                            <option value="<%= category.id %>" <%= "selected" if(@category_id == category.id) %>><%= category.name %></option>
                        <% end %>
                    </select>
                </div>
                <div class="form-group">
                    <label class="my-1 mr-2" for="order">Order</label>
                    <select class="custom-select" name="order" id="order">
                        <option value="az" <%= "selected" if(@order == "az") %>>A-Z</option>
                        <option value="za" <%= "selected" if(@order == "za") %>>Z-A</option>
                    </select>
                </div>
                <div class="form-group">
                    <button id="search" class="btn btn-primary mb-2">Submit</button>
                </div>
            </form>
        </div>      
      </div>
    </div>
  </div>
</div>